<template>
    <div>
        <Child ref="child"></Child>
    </div>
</template>
<script>
import Child from "@/components/child.vue";

export default {
    components: {
        Child
    }
}
</script>
// <script>
// import { defineComponent } from '@vue/composition-api'

// export default defineComponent({
//     setup() {
        
//     },
// })
// </script>
