<template>
    <div>

        <el-input v-model="copyRes"></el-input>

        <div>
            <el-button type="primary" @click="clickHandle">点击</el-button>
        </div>

        <div id="parent" style="height: 100px; width: 100px; background: red" v-hideClick  v-if="show">
            <ul>
                <li>周一</li>
                <li>周二</li>
                <li>周三</li>
                <li>周四</li>
                <li>周无</li>
            </ul>
        </div>
    </div>
</template>
<script>

export default {
    data() {
        return {
            copyRes: '',
            show: false
        };
    },
    directives: {
        hideClick:{
            bind(el){
               const handler = function(e){
                   if(el.contains(e.target)){
                       console.log(e);
                       console.log(2222222)
                   }else{
                       console.log(999999);
                       this.show = false
                       el.style.display = 'none'

                   }
               }
               document.addEventListener('click', handler) 
            }
        },
        copy: {
            inserted: function(el, {value}, vnode){
                console.log(vnode.context.$route);
                el.handler = () => {
                    console.log(value);
                    const textarea = document.createElement("textarea");
                    document.body.appendChild(textarea);
                    textarea.innerHTML = value;
                    textarea.select();
                    const copyRes = document.execCommand('Copy');
                    this.copyRes = copyRes;
                }
                el.addEventListener('click', el.handler)
            }
        }
    },
    methods: {
        clickHandle(){
            this.show = true
        }
    },
};
</script>

<style >

</style>