<template>
    <div class="block">
        <el-button @click="clickHandle">点击page2</el-button>
        <el-dialog
            title="提示"
            :visible.sync="dialogVisible"
            :modal-append-to-body="false"
            width="30%"
            :before-close="handleClose"
        >
            <span>这是一段信息</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="jumpHandle"
                    >确 定</el-button
                >
            </span>
        </el-dialog>
    </div>
</template>
<script>
/*  */
import { test } from "../api/test.api";

export default {
    data() {
        return {
            dialogVisible: false
        };
    },
    provide() {
        return { info: this.info };
    },
    methods: {
        clickHandle() {
            this.dialogVisible = true
        },
        jumpHandle() {
            // dialogVisible = false
            this.$router.push({ name: "page3" });
        },
        handleClose(done) {
            this.$confirm('确认关闭？')
            .then(_ => {
                done();
            })
            .catch(_ => {});
        }

    },
    mounted() {},
};
</script>