<template>
    <div>
        child22
        <el-form :model="form" :rules="rules" ref="ruleForm" prop="age">
             <el-form-item label="活动名称" prop="age">
                <el-input v-model="form.age"></el-input>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
export default {
    inject: ['info'],
    data(){
        return{
            form:{
                age: 0
            },
            rules: {
                age: [{ required: true, message: '请输入活动名称', trigger: 'blur' }],
            }
        }
    },
    methods: {
        resetForm() {
            this.$refs.ruleForm.resetFields();
        }
    },
    watch: {
        info: {
            handler(value){
                 console.log('value', value)
                this.form.age = value.age;
                if(value.age > 20){
                    console.log('value>20', value)
                    this.resetForm()
                }
            },
            deep: true
        }
    },
    created () {

    }
}
</script>
<style scoped>

</style>
