<template>
  <div id="app">
    <keep-alive>
        <h1>你好 时间uuuuuuuu</h1>
        <h1>你好 6666666666</h1>
        <h1>你好 7777777</h1>
        <h1>你好 8888888</h1>
        <router-view></router-view>
    </keep-alive>
  </div>
</template>

<script>

</script>

<style>
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  
  
}
</style>
